{% comment %}
{% endcomment %}

<li class="email-item {% if not email.is_seen %}unread{% endif %}" 
    data-email-id="{{ email.id }}"
    onclick="loadEmailContent(this, '{{ active_account.id }}', '{{ email.id }}')">
    
    <div class="email-item-actions">
        <input type="checkbox" class="form-check-input" onclick="event.stopPropagation();">
        
        <i class="{% if email.is_flagged %}fa-solid fa-star starred{% else %}fa-regular fa-star{% endif %} email-item-star" 
           onclick="toggleStar(event, this, '{{ active_account.id }}', '{{ email.id }}')"></i>
    </div>

    <div class="email-item-from">
        <span>{{ email.from|truncatechars:25 }}</span>
    </div>

    <div class="email-item-content">
        <span class="email-item-subject">{{ email.subject|default:"(no subject)" }}</span>
        
        {% if email.snippet %} 
        <span class="email-item-snippet"> - {{ email.snippet|truncatechars:80 }}</span>
        {% endif %}
        
        <div class="email-item-tags">
            {% if email.has_attachments %}
            <span class="email-item-tag tag-attachment">
                <i class="fa-solid fa-paperclip"></i> Attachment
            </span>
            {% endif %}

            {% if email.from == 'Unsplash Team' %}
                <span class="email-item-tag tag-winter">Winter</span>
                <span class="email-item-tag tag-coffee">Coffee</span>
            {% endif %}
        </div>
    </div>

    <div class="email-item-date">
       {{ email.date|date:"M d" }}
    </div>
    
    <div class="email-item-hover-actions">
        <i class="fa-solid fa-box-archive" title="Archive"></i>
        <i class="fa-solid fa-trash" title="Delete" 
           onclick="handleDeleteEmail(event, this, '{{ active_account.id }}', '{{ email.id }}')"></i>
        <i class="fa-solid fa-envelope-open" title="Mark as read"></i>
        <i class="fa-solid fa-clock" title="Snooze"></i>
    </div>
</li>