# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
env/
venv/
myenv/

# Ignore database files
*.sqlite3
db.sqlite3

# Ignore media folder (uploaded files)
media/

# Ignore static files (if collected)
staticfiles/
