{% extends 'resume/base.html' %}
{% block content %}
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>{{ coverletter.name }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="single-product section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="{{ coverletter.cover_image.url }}" alt="{{ coverletter.name }}" />
          </div>
        </div>
        <div class="col-lg-6">
          <h4>{{ coverletter.name }}</h4>
          <span class="price">{{ coverletter.sector }}</span>
          <p>{{ coverletter.description }}</p>
          <ul>
            <li>
              <span>Category:</span> {{ coverletter.category }}
            </li>
            <li>
              <span>Sector:</span> {{ coverletter.sector }}
            </li>
            <form action="{{ coverletter.edit_link }}">
              <button type="submit"><i class="fa fa-edit"></i> Edit</button>
            </form>
            <form action="{{ coverletter.coverletter_file.url }}">
              <button type="submit"><i class="fa fa-download" download></i> Download</button>
            </form>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tabs-content">
            <div class="row">
              <div class="nav-wrapper">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews (3)</button>
                  </li>
                </ul>
              </div>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                  <p>You can search for more templates on Google Search using keywords such as "templatemo digital marketing", "templatemo one-page", "templatemo gallery", etc. Please tell your friends about our website. If you need a variety of HTML templates, you may visit Tooplate and Too CSS websites.</p>
                  <br />
                  <p>Coloring book air plant shabby chic, crucifix normcore raclette cred swag artisan activated charcoal. PBR&B fanny pack pok pok gentrify truffaut kitsch helvetica jean shorts edison bulb poutine next level humblebrag la croix adaptogen. Hashtag poke literally locavore, beard marfa kogi bruh artisan succulents seitan tonx waistcoat chambray taxidermy. Same cred meggings 3 wolf moon lomo irony cray hell of bitters asymmetrical gluten-free art party raw denim chillwave tousled try-hard succulents street art.</p>
                </div>
                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                  <p>
                    Coloring book air plant shabby chic, crucifix normcore raclette cred swag artisan activated charcoal. PBR&B fanny pack pok pok gentrify truffaut kitsch helvetica jean shorts edison bulb poutine next level humblebrag la croix adaptogen. <br /><br />Hashtag poke literally locavore, beard marfa kogi bruh artisan succulents seitan tonx waistcoat chambray taxidermy. Same cred meggings 3 wolf moon lomo irony cray hell of bitters asymmetrical gluten-free art party raw denim chillwave tousled try-hard succulents street art.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section categories related-games">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>More coverletter</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="{% url 'cover_list' %}">View All</a>
          </div>
        </div>
        {% for coverletter in coverletters|slice:':5' %}
          <div class="col-lg col-sm-6 col-xs-12">
            <div class="item">
              <h4>{{ coverletter.sector }}</h4>
              <div class="thumb">
                <a href="{% url 'details' coverletter.id %}"><img src="{{ coverletter.cover_image.url }}" alt="" /></a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
