{% extends "hrms/base.html" %}

{% block content %}

<style>
    .card {
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
    .object-cover {
      object-fit: cover;
    }
    .card-body h3 {
      font-size: 1.5rem;
      font-weight: 600;
    }
    .card-body .btn {
      background-color: #6c63ff;
      color: #fff;
      font-weight: 500;
    }
    .card-body .btn:hover {
      background-color: #574bce;
    }
    .edit-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: #6c63ff;
    }
  </style>

  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="card p-4">
          <div class="card-body">
            <h5 class="card-title mb-4">Personal Information</h5>
            <div class="row g-0">
              <!-- Left Image Section -->
              <div class="col-6">
                {% if company.company_logo %}
                <img src="{{company.company_logo.url}}" style="height: 125px;width: 125px;" class="object-cover card-img-start rounded-circle" alt="Profile Picture" />
                {% else %}
                <p>No profile image uploaded.</p>
                {% endif %}
                <div>
                  <h3 class="card-title mb-1">{{ company.company_name }}</h3>
                  <p class="text-muted mb-2">{{ company.company_unique_code }}</p>
                  {% if company.vacancy_status == "Approved" %}
                          <span class="badge bg-success me-1"></span> {{ company.vacancy_status }}
                        {% elif company.vacancy_status == "Rejected" %}
                          <span class="badge bg-danger me-1"></span> {{ company.vacancy_status }}
                          {% elif company.vacancy_status == "Hold" %}
                          <span class="badge bg-warning me-1"></span> {{ company.vacancy_status }}
                        {% else %}
                          <span class="badge bg-primary me-1"></span> {{ company.vacancy_status }}
                        {% endif %}
                  <p>
                    <strong class="subheader">Location:</strong> <br />{{company.company_location}}
                  </p>
                </div>
              </div>
              <!-- Right Content Section -->
              <div class="col">
                <div class="card-body">
                    <p>
                      <strong class="subheader">Email:</strong><br /> {{ company.company_email_address }}
                    </p>
                  <p>
                    <strong class="subheader">Vacancy Opening Date:</strong><br /> {{ company.vacancy_opening_date }}
                  </p>
                  <p>
                    <strong class="subheader">Hendle By:</strong><br /> {{ company.employee_name }}
                  </p>
                  <p>
                    <strong class="subheader">Profile Name: </strong><br /> {{ company.job_profile }}
                  </p>
                  <p>
                    <strong class="subheader">Vacancy Code:</strong><br /> {{company.company_vacancy_unique_code}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <span class="edit-icon"><a href="#" data-bs-toggle="modal" data-bs-target="#modal-profile"><i class="bi bi-pencil"></i></a></span>
        </div>
      </div>
      <div class="col-lg-6"> 
        <div class="card p-4">
          <div class="card-body">
            <h5 class="card-title mb-4">company Details</h5>
            <div class="row">
              <!-- Primary Contact -->
              <div class="col-md-6">
                {% comment %} <h6 class="text-label">Primary Contact</h6> {% endcomment %}
                <p>
                  <strong class="subheader">Contact Person Name:</strong><br /> {{company.company_contact_person_name}}
                </p>
                <p>
                  <strong class="subheader">Contact Person Designation:</strong><br /> {{company.company_contact_person_designation}}
                </p>
                <p>
                  <strong class="subheader">Contact:</strong> <br />{{company.company_contact_person_contact_details}}
                </p>
                <p>
                  <strong class="subheader">Interview Address:</strong> <br />{{company.interview_address}} 
                </p>
                <p>
                  <strong class="subheader">Payroll:</strong> <br />{{company.payroll}} {% if company.third_party_name %} - {{company.third_party_name}} {%else%} {% endif %}
                </p>
                <p>
                  <strong class="subheader">Job Origin:</strong> <br />{{company.job_opening_origin}} 
                </p>
                <p>
                    <strong class="subheader">Qualification:</strong><br /> {{company.minimum_education_qualification}}
                  </p>
                  <p>
                    <strong class="subheader">Gender:</strong><br /> {{company.gender}}
                  </p>
              </div>
              <!-- Secondary Contact -->
              <div class="col-md-6">
                <p>
                    <strong class="subheader">Specialization:</strong><br /> {{company.specialization}}
                  </p>
                <p>
                  <strong class="subheader">Experience :</strong><br /> {{company.minimum_experience}} - {{company.maximum_experience}}
                </p>
                <p>
                  <strong class="subheader">Sector Type :</strong> <br>{{company.sector_type}}
                </p>
                <p>
                  <strong class="subheader">Department Name :</strong>  <br>{{company.department_name}}
                </p>
                <p>
                  <strong class="subheader">Fresher :</strong><br />{{company.fresher_status}} 
                </p>
                <p>
                  <strong class="subheader">Salary Range:</strong><br /> {{company.minimum_salary_range}} - {{company.maximum_salary_range}}
                </p>
                <p>
                    <strong class="subheader">Vacancy Closing Date:</strong><br /> {{company.vacancy_closing_date}}
                  </p>
              </div>
            </div>
            <!-- Edit Icon -->
            <span class="edit-icon" style="margin-top: -22px;margin-right: -22px;"><a href="#" data-bs-toggle="modal" data-bs-target="#modal-company-details"><i class="bi bi-pencil"></i></a></span>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-3">
        <div class="card p-4">
          <h5 class="card-title mb-4">Company Remarks</h5>
          <div class="card-body">
            <div class="row">
              <!-- Primary Contact -->
              <div class="col-md-6">
                <p>
                  <strong class="subheader">Special Instructions:</strong><br>{{ company.special_instruction }}
                </p>
                <p>
                  <strong class="subheader">Company USP:</strong><br>{{ company.company_usp }}
                </p>
                <p>
                  <strong class="subheader">Incentive:</strong><br>{{ company.status_of_incentive }}
                </p>
                <p>
                  <strong class="subheader">Status of Proposal:</strong><br>{{ company.status_of_proposal }}
                </p>
                <p>
                    <strong class="subheader">Invoice Generate Date:</strong><br>{{ company.invoice_generation_date }}
                  </p>
                  <p>
                    <strong class="subheader">Payout Date:</strong><br>{{ company.payout_date }}
                  </p>   
                  <p>
                    <strong class="subheader">Payment Condition:</strong><br>{{ company.payment_condiation }}
                  </p>
                  <p>
                    <strong class="subheader">Replacement Criteria:</strong><br>{{ company.replacement_criteria }}
                  </p>       
                  <p>
                    <strong class="subheader">Remark:</strong><br>{{ company.remark }}
                  </p>       
              </div>
              
            </div>
          </div>
          <!-- Edit Icon -->
          <span class="edit-icon"><a href="#" data-bs-toggle="modal" data-bs-target="#modal-calling-remark"><i class="bi bi-pencil"></i></a></span>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="card p-4">
          <h5 class="card-title mb-4">Selection Status</h5>
          <div class="card-body">
            <div class="row">
              <!-- Primary Contact -->
              <div class="col-md-6">
                <p>
                  <strong class="subheader">Status of Selection:</strong><br>{{ company.selection_status }}
                </p>
                <p>
                  <strong class="subheader">Company Name:</strong><br>{{ company.company_name }}
                </p>
                <p>
                  <strong class="subheader">Salary Offered:</strong><br>{{ company.offered_salary }}
                </p>
                <p>
                  <strong class="subheader">Selection Date:</strong><br>{{ company.selection_date }}
                </p>
                <p>
                  <strong class="subheader">Joining Date:</strong><br>{{ company.company_joining_date }}
                </p>
                <p>
                  <strong class="subheader">Our Commission:</strong><br>{{ company.emta_commission }}
                </p>
                <p>
                  <strong class="subheader">Payout Date:</strong><br>{{ company.payout_date }}
                </p>               
              </div>
              
            </div>
          </div>
          <!-- Edit Icon -->
          <span class="edit-icon"><a href="#" data-bs-toggle="modal" data-bs-target="#modal-selection-record"><i class="bi bi-pencil"></i></a></span>
        </div>
      </div>
    </div>
  </div>

  {% comment %}profile details{% endcomment %}
  <div class="modal modal-blur fade" id="modal-profile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">company Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                      <label class="form-label">Vacancy Status</label>
                      <select name="vacancy_status" class="form-select" required>
                        <option value="Hold" {% if Company_registration.vacancy_status == "Hold" %}selected{% endif %}>Hold</option>
                        <option value="Approved" {% if Company_registration.vacancy_status == "Approved" %}selected{% endif %}>Approved</option>
                        <option value="Closed" {% if Company_registration.vacancy_status == "Closed" %}selected{% endif %}>Closed</option>
                        <option value="Rejected" {% if Company_registration.vacancy_status == "Rejected" %}selected{% endif %}>Rejected</option>
                    </select>
                  </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Employee Name</label>
                <input type="text" class="form-control" name="employee_name" value="{{ company.employee_name }}" required />
              </div>
              <!-- Company Name -->
              <div class="col-md-6 mb-3">
                <label class="form-label">Company Name</label>
                <input type="text" class="form-control" name="company_name" value="{{ company.company_name }}" required />
              </div>
              <!-- Company Logo -->
              <div class="col-md-6 mb-3">
                <label class="form-label">Company Logo</label>
                <input type="file" class="form-control" name="company_logo" />
              </div>
              <!-- Company Location -->
              <div class="col-md-6 mb-3">
                <label class="form-label">Company Location</label>
                <input type="text" class="form-control" name="company_location" value="{{ company.company_location }}" required />
              </div>
              <!-- Company Unique Code -->
              <div class="col-md-6 mb-3">
                <label class="form-label">Company Unique Code</label>
                <input type="text" class="form-control" name="company_unique_code" value="{{ company.company_unique_code }}" required />
              </div>
              <!-- Job Profile -->
              <div class="col-md-6 mb-3">
                <label class="form-label">Job Profile</label>
                <input type="text" class="form-control" name="job_profile" value="{{ company.job_profile }}" />
              </div>
              <!-- Vacancy Unique Code -->
              <div class="col-md-6 mb-3">
                <label class="form-label">Vacancy Unique Code</label>
                <input type="text" class="form-control" name="company_vacancy_unique_code" value="{{ company.company_vacancy_unique_code }}" required />
              </div>
              <!-- Vacancy Opening Date -->
              <div class="col-md-6 mb-3">
                <label class="form-label">Vacancy Opening Date</label>
                <input type="date" class="form-control" name="vacancy_opening_date" value="{{ company.vacancy_opening_date }}" required />
              </div>
              <!-- Company Email Address -->
              <div class="col-md-6 mb-3">
                <label class="form-label">Email Address</label>
                <input type="email" class="form-control" name="company_email_address" value="{{ company.company_email_address }}" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" name="company_personal_information" class="btn btn-primary">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

  {% comment %}contact{% endcomment %}
  <div class="modal modal-blur fade" id="modal-company-details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">company  Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h5 class="text-secondary">company Information</h5>
            <div class="row">
              <!-- Contact Person Name -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Contact Person Name</label>
              <input type="text" class="form-control" name="company_contact_person_name" value="{{ company.company_contact_person_name }}" required />
            </div>
            <!-- Contact Person Details -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Contact Person Contact Details</label>
              <input type="text" class="form-control" name="company_contact_person_contact_details" value="{{ company.company_contact_person_contact_details }}" />
            </div>
            <!-- Contact Person Designation -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Contact Person Designation</label>
              <input type="text" class="form-control" name="company_contact_person_designation" value="{{ company.company_contact_person_designation }}" />
            </div>
            <!-- Interview Address -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Interview Address</label>
              <input type="text" class="form-control" name="interview_address" value="{{ company.interview_address }}" required />
            </div>
            <!-- Payroll -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Payroll</label>
              <input type="text" class="form-control" name="payroll" value="{{ company.payroll }}" />
            </div>

            <!-- Minimum Salary Range -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Minimum Salary Range</label>
              <input type="text" class="form-control" name="minimum_salary_range" value="{{ company.minimum_salary_range }}" />
            </div>
            <!-- Maximum Salary Range -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Maximum Salary Range</label>
              <input type="text" class="form-control" name="maximum_salary_range" value="{{ company.maximum_salary_range }}" />
            </div>
            <!-- Job Opening Origin -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Job Opening Origin</label>
              <input type="text" class="form-control" name="job_opening_origin" value="{{ company.job_opening_origin }}" />
            </div>
            <!-- Sector Type -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Sector Type</label>
              <input type="text" class="form-control" name="sector_type" value="{{ company.sector_type }}" />
            </div>
            <!-- Department Name -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Department Name</label>
              <input type="text" class="form-control" name="department_name" value="{{ company.department_name }}" />
            </div>
            <!-- Fresher Status -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Fresher Status</label>
              <input type="text" class="form-control" name="fresher_status" value="{{ company.fresher_status }}" required />
            </div>
            <!-- Minimum Age -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Minimum Age</label>
              <input type="text" class="form-control" name="minimum_age" value="{{ company.minimum_age }}" />
            </div>
            <!-- Maximum Age -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Maximum Age</label>
              <input type="text" class="form-control" name="maximum_age" value="{{ company.maximum_age }}" />
            </div>
            <!-- Gender -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Gender</label>
              <input type="text" class="form-control" name="gender" value="{{ company.gender }}" />
            </div>
            <!-- Minimum Experience -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Minimum Experience</label>
              <input type="text" class="form-control" name="minimum_experience" value="{{ company.minimum_experience }}" />
            </div>
            <!-- Maximum Experience -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Maximum Experience</label>
              <input type="text" class="form-control" name="maximum_experience" value="{{ company.maximum_experience }}" />
            </div>
            <!-- Minimum Education Qualification -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Minimum Education Qualification</label>
              <input type="text" class="form-control" name="minimum_education_qualification" value="{{ company.minimum_education_qualification }}" />
            </div>
            <!-- Specialization -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Specialization</label>
              <input type="text" class="form-control" name="specialization" value="{{ company.specialization }}" />
            </div>
            
            <!-- Vacancy Closing Date -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Vacancy Closing Date</label>
              <input type="date" class="form-control" name="vacancy_closing_date" value="{{ company.vacancy_closing_date }}" required />
            </div>
          </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" name="company_details" class="btn btn-primary">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

  <div class="modal modal-blur fade" id="modal-calling-remark" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Calling Remark</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                 <!-- Company USP -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Company USP</label>
              <input type="text" class="form-control" name="company_usp" value="{{ company.company_usp }}" />
            </div>
            <!-- Status of Incentive -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Status of Incentive</label>
              <input type="text" class="form-control" name="status_of_incentive" value="{{ company.status_of_incentive }}" />
            </div>
            <!-- Status of Proposal -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Status of Proposal</label>
              <input type="text" class="form-control" name="status_of_proposal" value="{{ company.status_of_proposal }}" required />
            </div>
            <!-- Invoice Generation Date -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Invoice Generation Date</label>
              <input type="text" class="form-control" name="invoice_generation_date" value="{{ company.invoice_generation_date }}" />
            </div>
            <!-- Payout Date -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Payout Date</label>
              <input type="text" class="form-control" name="payout_date" value="{{ company.payout_date }}" />
            </div>
            <!-- Payment Condition -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Payment Condition</label>
              <input type="text" class="form-control" name="payment_condiation" value="{{ company.payment_condiation }}" />
            </div>
            <!-- Replacement Criteria -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Replacement Criteria</label>
              <input type="text" class="form-control" name="replacement_criteria" value="{{ company.replacement_criteria }}" />
            </div>
            <!-- Remark -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Remark</label>
              <input type="text" class="form-control" name="remark" value="{{ company.remark }}" />
            </div>
          </div>
        
            <!-- Submit and Cancel Buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" name="submit_calling_remark" class="btn btn-primary">Submit</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-blur fade" id="modal-selection-record" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Selection Record</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <!-- Account Holder Name -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Call Connection Status</label>
                    <select class="form-select" name="selection_status">
                      <option disabled selected value="Select company Selection Status" {% if company.selection_status == "Select company Selection Status" %}selected{% endif %}>Select company Selection Status</option>
                      <option value="Selected" {% if company.selection_status == "Selected" %}selected{% endif %}>Selected</option>
                      <option value="Rejected" {% if company.selection_status == "Rejected" %}selected{% endif %}>Rejected</option>
                      <option value="Pending" {% if company.selection_status == "Pending" %}selected{% endif %}>Pending</option>
                      <option value="Not Join" {% if company.selection_status == "Not Join" %}selected{% endif %}>Not Join</option>
                    </select>
                </div>
        
                <!-- Bank Name -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Company Name </label>
                    <input type="text" name="company_name" class="form-control" value="{{ company.company_name }}"  />
                </div>
        
                <!-- Account Number -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Offered Salary </label>
                    <input type="text" name="offered_salary" class="form-control" value="{{ company.offered_salary }}"  />
                </div>
        
                <!-- Confirm Account Number -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Selection Date </label>
                    <input type="date" name="selection_date" class="form-control" value="{{ company.selection_date }}"  />
                </div>

                <!-- IFSC Code -->
                <div class="col-md-6 mb-3">
                  <label class="form-label">Joining Date </label>
                  <input type="date" name="company_joining_date" class="form-control" value="{{ company.company_joining_date }}"  />
              </div>
        
                <!-- IFSC Code -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Our Commission </label>
                    <input type="text" name="emta_commission" class="form-control" value="{{ company.emta_commission }}"  />
                </div>
        
                <!-- MICR Code -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Payout Date</label>
                    <input type="date" name="payout_date" class="form-control" value="{{ company.payout_date }}" />
                </div>
            </div>
        
            <!-- Submit and Cancel Buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" name="submit_secection_record" class="btn btn-primary">Submit</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}